@keyframes progress{
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes load{
    0%{
        opacity: 0.8;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes spinner-1{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes spinner-2{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(-360deg);
    }
}
@keyframes texteLoad{
    0%{
        opacity: 0.2;
    }
    50%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}